DISCORD_TOKEN=your_discord_bot_token_here
BEASTLINK_URL=http://127.0.0.1:2333
BEASTLINK_PASSWORD=beastlink01
BEASTLINK_PORT=2333
YTDLP_COOKIES=/home/container/cookies.txt
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=